{:deps {clj-http/clj-http {:mvn/version "3.12.1"}
        medley/medley {:mvn/version "1.4.0"}
        metosin/jsonista {:mvn/version "0.3.1"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/clojurescript {:mvn/version "1.11.51"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        org.clojure/data.json {:mvn/version "2.4.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        io.github.probcomp/metaprob {:git/sha "43c4bea80772ed8b2baa51cd5ac6c593a34a3a8b"}
        generateme/fastmath {:mvn/version "2.1.9-SNAPSHOT" :exclusions [com.github.haifengl/smile-mkl]}
        net.cgrand/xforms {:mvn/version "0.19.2"}
        progrock/progrock {:mvn/version "0.1.2"}
        cljs-bean/cljs-bean {:mvn/version "1.7.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {expound/expound {:mvn/version "0.7.2"}
                               org.clojure/test.check {:mvn/version "1.1.0"}}}
           :clj-test {:extra-deps {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                      :main-opts ["-m" "cognitect.test-runner"]
                      :exec-fn cognitect.test-runner.api/test}
           :cljs-test {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}}}
