{:deps {clj-http/clj-http {:mvn/version "3.12.1"}
        metosin/jsonista {:mvn/version "0.3.1"}
        org.apache.commons/commons-math3 {:mvn/version "3.6.1"}
        org.clojure/clojure {:mvn/version "1.10.3"}
        org.clojure/clojurescript {:mvn/version "1.10.773"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        org.clojure/math.combinatorics {:mvn/version "0.1.6"}
        probcomp/metaprob {:git/url "https://github.com/probcomp/metaprob.git"
                           :sha "8dc9d09f747c1e29886bb9628a0110c6f6bc6f5a"}
        net.cgrand/xforms {:mvn/version "0.19.2"}
        progrock/progrock {:mvn/version "0.1.2"}
        cljs-bean/cljs-bean {:mvn/version "1.7.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {expound/expound {:mvn/version "0.7.2"}
                               lambdaisland/kaocha {:mvn/version "1.0-612"}
                               lambdaisland/kaocha-cljs {:mvn/version "0.0-71"}
                               org.clojure/test.check {:mvn/version "1.1.0"}}}}}
